body {
    background-color: grey;
}

.hidden {
    display: none;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;  /*这将使 div 的高度等于视口的高度*/
}

#gamearea, #welcome {
    text-align: center;
}

header {
    padding-top: 5%;
}

#score-counter {
    width:fit-content;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

#enemy, #solution, #weapons, #abilities, #helps {
    margin: 10px auto;
    width: 50%;
    text-align: center;
}

#enemy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.enemy {
    font-size: 5em;
    padding: 0 25px;
    background-color: white;
    border-radius: 5px;
}

#equation {
    text-align: center;
    width: 70%;
    height: 25px;
    border-radius: 5px;
}

#status {
    font-size: 0.75em;
}

button {
    width: 90px;
    height: 30px;
    border-radius: 5px;
}

#tutorial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#tutorial-content {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    background: white;
}

@keyframes floating {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

.chosen {
    animation: floating 2s infinite;
}

/*精英敌人类型*/
.elite-double {
    color: orange;
}


.elite-heal {
    color: greenyellow;
}

.elite-refresh {
    color: aqua;
}