#gamearea {
    text-align: center;
    background-color: grey;
}

header {
    padding-top: 5%;
}

#enemy, #solution, #weapons, #function {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

#enemy {
    display: flex;
    justify-content: center;
}

.enemy {
    font-size: 10em;
    padding: 0 20px;
    box-sizing: border-box;
}

#equation {
    text-align: center;
    width: 80%;
}

button {
    width: 90px;
}

#tips {
    font-size: 0.5em;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.blink {
    animation: blink 0.75s infinite;
}

.eliminated {
    animation: blink 0.3s 3; 
}